<div *ngIf="op">
  <div class="dialog">
    Clock {{ op.clock }}
    <br>
    <br>
    {{ op.instructionOp }}
    <br>
    {{ op.instructionName }}
    <span class="oparg" *ngIf="op.insArgOut">{{ op.insArgOut }}</span>
    <span class="oparg" *ngIf="op.insArgIn1">{{ op.insArgIn1 }}</span>
    <span class="oparg" *ngIf="op.insArgIn2">{{ op.insArgIn2 }}</span>
    <span class="oparg" *ngIf="op.insArgIn3">{{ op.insArgIn3 }}</span>
    <br>
    PC: {{ op.programCounter }}
    <table>
      <tr *ngIf="op.isWrite">
        <td>Write to</td>
        <td>{{ op.writeRegister }}</td>
        <td>---</td>
        <td>{{ op.writeValue }}</td>
      </tr>
      <tr>
        <td>Read from</td>
        <td>{{ op.readRegister1 }}</td>
        <td>---</td>
        <td>{{ op.readValue1 }}</td>
      </tr>
      <tr>
        <td>Read from</td>
        <td>{{ op.readRegister2 }}</td>
        <td>---</td>
        <td>{{ op.readValue2 }}</td>
      </tr>
    </table>
    <div *ngIf="opInfo">
      <br>
      <strong>{{opInfo.title}}</strong>
      <br>
      <span>{{opInfo.description}}</span>
    </div>
  </div>
</div>
